@use '../variables.scss' as *;

.cardSection {
	display: flex;
	flex-direction: column;
	gap: 4em;
	justify-content: space-around;
}

@media (min-width: 768px) {
	.cardSection {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 4em;
	}
}
