@use '../variables' as *;

.container {
	position: fixed;
	display: flex;
	justify-content: center;
	flex-direction: column;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: $primaryLight;
	width: 100svw;
	height: 100dvh;
	padding: 2em;
}
.documentPage {
	border-radius: 5px;
	aspect-ratio: 1 / 1.414 !important;
	max-height: 100%;
	canvas {
		margin: 0 auto;
		width: auto !important;
		border-radius: 5px;
		height: 100% !important;
		aspect-ratio: 1 / 1.414 !important;
		background-color: $white;
		border: none;
	}
}
.document {
	border-radius: 5px;
	display: flex;
	justify-content: center;
	width: auto;
	margin: 0 auto;
	max-height: 100%;
}
.documentContainer {
	position: relative;
	display: flex;
	max-width: 100%;
	max-height: 90%;
	height: auto;
	width: 100%;
	aspect-ratio: 1 / 1.414;
	margin: 0 auto;
	margin-bottom: auto;
	&::before {
		content: '';
		position: absolute;
		background-color: $white;
		height: 100%;
		width: auto;
		left: 50%;
		transform: translateX(-50%);
		aspect-ratio: 1 / 1.414;
		border-radius: 5px;
	}
}

.topBar {
	display: flex;
	justify-content: flex-end;
	border-radius: 5px;
	width: 100%;
	padding: 1em;
	margin-bottom: 1.5em;
	background-color: $white;
}
.floatingBtn {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	font-size: $paragraphSmallSize;
	padding: 0.6em 0.9em;
}
.fullSpinner {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
	height: 100%;
	aspect-ratio: 1 / 1.414;
	background-color: #fff;
	border-radius: 5px;
	z-index: 1000;
}
@media (min-width: 992px) {
	.container {
		width: 50%;
		position: sticky;
		right: 0;
		transform: translateY(0);
	}
}
