@use '../variables' as *;

.container {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: $primaryLight;
	width: 100svw;
	height: 100dvh;
	padding: 2em;
}
.document {
	margin: 0 auto;
	width: 100%;
	border-radius: 5px;
	height: 100%;
	background-color: #fff;
	border: none;
}

@media (min-width: 992px) {
	.container {
		position: sticky;
		width: 50%;
		right: 0;
		transform: translateY(0);
	}
}
