@use '../variables.scss' as *;

.navbar {
	width: 100%;
	position: fixed;
	height: 76px;
	display: flex;
	align-items: center;
	top: 0;
	background-color: #fff;
	padding: 2em;
	z-index: 1000;
}
.navbarContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: auto;
	width: 100%;
}
.navbarOffset {
	height: 76px;
	width: 100%;
}


@media (min-width: 992px) {
	.navbar {
		padding: 2em 3em;
		height: 100px;
	}
	.navbarOffset {
		height: 100px;
	}
}
