@use '../variables.scss' as *;

.navbar {
	width: 100%;
	position: sticky;
	top: 0;
	background-color: #fff;
	padding: 2em;
}
.navbarContainer {
	display: flex;
	height: auto;
	width: 100%;
}
.logo {
	display: flex;
	align-items: center;
	width: 16em;
	max-width: 50%;
	text-decoration: none;
}
.menuLinks {
	display: flex;
	align-items: center;
	margin-left: auto;
	gap: 2.5em;
}
.menuLink {
	font-size: $paragraphSize;
	text-wrap: nowrap;
	text-decoration: none;
	color: $textColor;
}
.menuLine {
	height: 75%;
	align-self: center;
	width: 2px;
	margin: 0 0.5em;
	background-color: $primaryLight;
}
.loginLink {
	font-weight: 600;
	color: $primary;
}

@media (min-width: 992px) {
	.navbar {
		padding: 2em 3em;
	}
}
