@use '../../variables' as *;
.formHeading {
	font-size: $headingH1Size;
	font-weight: 600;
	text-align: center;
}
.form {
	display: flex;
	flex-direction: column;
	gap: 2em;
	height: 100%;
	width: 100%;
	margin-top: 2em;
}
.errorMsg {
	font-size: $paragraphSmallSize;
	color: $error;
}
