@use '../variables.scss' as *;
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	padding: 0.75em 1.125em;
	font-size: $paragraphSize;
	background-color: transparent;
	border: 2px solid $primary;
	text-wrap: nowrap;
	border-radius: $borderRadius;
	font-weight: 600;
	cursor: pointer;
}

.buttonText {
	display: flex;
	align-items: center;
	gap: 0.5em;
	font-size: $paragraphSize;
	color: $primary;
}
