@use '../variables' as *;
.infoForm {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 2em;
	&__date {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		column-gap: 2em;
		row-gap: 1em;
		div {
			width: fit-content;
		}
	}
	&__delete {
		font-size: $paragraphSmallSize;
		color: $error;
		cursor: pointer;
	}
}
